.logout-btn {
  width: 30px;
  height: 30px;
  background-image: url("https://cdn-icons-png.flaticon.com/512/992/992680.png");
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: center;

  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

.logout-btn:hover {
  background-color: #e6e6e6;
}

.page-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.page-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 15.5px;
  color: black;
  width: 50px;
  height: 25px;
  border: 1px solid var(--maincolor);
  text-decoration: none;
  cursor: pointer;
}

.current-page {
  background-color: var(--maincolor);
}

.btn {
  cursor: pointer;
}

.overlay {
  position: fixed; /* 화면 전체를 덮도록 설정합니다 */
  top: 0; /* 화면 상단에 위치합니다 */
  left: 0; /* 화면 왼쪽에 위치합니다 */
  width: 100%; /* 화면 전체 너비를 차지합니다 */
  height: 100%; /* 화면 전체 높이를 차지합니다 */
  background-color: rgba(
    250,
    250,
    250,
    0.3
  ); /* 검은색 반투명 배경을 설정합니다 */
  z-index: 999; /* 다른 요소들보다 위에 표시됩니다 */
}
