@font-face {
  font-family: "omyu_pretty";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/omyu_pretty.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "omyu_pretty";
  font-size: 19px;
}

.layout {
  display: flex;
  flex-direction: column;
  width: 430px;
  height: 926px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fafaf9;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.05) 0px 8px 32px;
  position: relative;
}

.logout-btn {
  width: 30px;
  height: 30px;
  background-image: url("https://cdn-icons-png.flaticon.com/512/992/992680.png");
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: center;

  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

.logout-btn:hover {
  background-color: #e6e6e6;
}

.page-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.calendar-page {
  background-color: #f3cdcc;
}

.page-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 15.5px;

  width: 50px;
  height: 25px;
  border: 1px solid #f3cdcc;

  cursor: pointer;
}

.btn {
  cursor: pointer;
}

.sum-div {
  margin: 10px 0;
}

.sum-div > div {
  margin-bottom: 5px;
}

.income,
.expense,
.total {
  margin-left: 10px;
}

.income {
  color: var(--incomecolor);
}

.expense {
  color: var(--expensecolor);
}

.selected-date {
  background-color: #e6e6e6;
}

.daily-expense {
  font-size: 15px;
  color: var(--expensecolor);
  padding-left: 2px;
}

.daily-income {
  font-size: 15px;
  color: var(--incomecolor);
  padding-left: 2px;
}
