.expense {
  color: #e16f63;
}

.income {
  color: #5fbb82;
}

.calendar-header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 15px;
}

.calendar {
  width: 400px;
  margin: 10px auto;
  font-size: 17px;

  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.day {
  margin-top: 10px;
  text-align: center;
}

.date,
.empty {
  aspect-ratio: 1;
}

.date {
  cursor: pointer;
  padding: 3px;
  overflow: hidden;
}

.date:hover {
  border: 1px solid #bebfc0;
}

.selected-date {
  background-color: #bebfc0;
}

.daily-total {
  font-size: 14px;
  margin: 0;
}

.write-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;

  color: black;
  text-decoration: none;
}
