.success-message {
  margin: 150px auto 30px;
  text-align: center;
  font-size: 23px;
  line-height: 150%;
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  margin: 20px auto 50px;
  border-radius: 50%;
  border: 2px solid #ccc;
  border-top: 2px solid #4a4a4a;
  animation: rotate 1s linear infinite;
}

.count {
  font-size: 25px;
  animation: count 1s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(45deg);
  }
  to {
    transform: rotate(405deg);
  }
}

@keyframes count {
  from {
    transform: rotate(-45deg);
  }
  to {
    transform: rotate(-405deg);
  }
}
